body {
    background-color: #303841;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #00ADB5;
}
h1 { 
    font-size: 5em;
    margin-top: 5rem;
}
h1 img {
    width: 5%;
}
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.players {
    margin-left: 2em;
    text-align: left;  
}
.players img {
    width: 80%;
    margin-top: 1rem;
}

#btn  {
    background-color: #00ADB5;
    padding: .75rem 3.25rem;
    font-size: 1.75rem;
    border: none;
    
    color: #f7e2f4;
    font-weight: bolder;
    margin-top: 3rem;
}